<!doctype html>
<html lang="en">

<head th:replace="templates.html :: common_head"></head>

<body>

    <nav th:replace="templates.html :: common_navbar"></nav>

    <div class="container">

        <div class="row">

            <!-- Table -->
            <div class="col-12">
                <table class="table table-striped" id="product-table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="form-group">
                                    <label for="inputName" class="col-form-label">Name:</label>
                                    <div class="input-text">
                                        <input type="text" class="form-control" name="productName" id="inputName"
                                            placeholder="Enter Product name">
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group" id="add-barcode-input">
                                    <label for="inputBarcode" class="col-form-label">Barcode:</label>
                                    <div class="input-text">
                                        <input type="text" class="form-control" name="barcode" id="inputBarcode"
                                            placeholder="Enter barcode">
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div style="margin-bottom: 15px;" class="form-group">
                                    <select class="form-select" aria-label="Default select example" style="padding-top: 6px;
                                        padding-right: 12px;
                                        padding-bottom: 6px;
                                        padding-left: 12px;
                                        margin-top: -34px;
                                        font-size: 14px;
                                        width: 230px;" id="brand_cat_id_dropdown">
                                        <option selected>Select Brand Category</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>

                            </th>

                            <th scope="col">
                                <div class="form-group" style="width: 100px;"></div>
                            </th>
                            <th scope="col">
                                <div class="form-group" id="add-mrp">
                                    <label for="inputMrp" class="col-form-label">MRP:</label>
                                    <div class="input-text">
                                        <input type="number" class="form-control" name="mrp" id="inputMrp"
                                            placeholder="Enter MRP">
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="add-product"
                                        onclick="addProduct()">Add</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-primary" id="add-brand"
                                        onclick="showBulkUploadDialog()">Bulk Add</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-circle btn-sm glyphicon glyphicon-refresh"
                                        id="refresh-data" onclick="fetchAndDisplayProducts()"></button>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Barcode</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">MRP</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- Product Edit Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title" style="font-size: large;">Edit Product</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" id="product-edit-form" style="display: block;">
                            <div class="form-group">
                                <label for="inputEditName" class="col-form-label">Name</label>
                                <div class="input-text">
                                    <input type="text" class="form-control" name="productName" id="inputEditName"
                                        placeholder="Enter product name" style="margin-left: 22px;">
                                </div>
                            </div>
                            <div class="form-group" id="bc-id-input" style="margin-top: 12px;">
                                <label for="inputEditMrp" class="col-form-label">Mrp</label>
                                <div class="input-text">
                                    <input type="text" class="form-control" name="mrp" id="inputEditMrp"
                                        placeholder="Enter mrp" style="margin-left: 36px;">
                                </div>
                            </div>
                            <div></div>
                            <div style="margin-top: 12px;" class="form-group">
                                <select class="form-select" aria-label="Default select example" style="padding-top: 6px;
                                    padding-right: 12px;
                                    padding-bottom: 6px;
                                    padding-left: 12px;
                                    margin-top: 4px;
                                    font-size: 14px;
                                    width: 400px;" id="brand_cat_id_edit_dropdown">
                                    <option selected>Select Brand Category</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="updateProduct()">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer th:replace="templates.html :: common_footer"></footer>

</body>

<script src="static/products.js"></script>

</html>